body, .light, .light-theme {
  --blue-1: #fafdfe;
  --blue-2: #f3fafd;
  --blue-3: #e3f5fe;
  --blue-4: #d2eefc;
  --blue-5: #c0e5f7;
  --blue-6: #abd9ef;
  --blue-7: #90c8e4;
  --blue-8: #63b2d6;
  --blue-9: #1483ab;
  --blue-10: #00769d;
  --blue-11: #0079a1;
  --blue-12: #1a3b49;

  --blue-a1: #0099cc05;
  --blue-a2: #0095d50c;
  --blue-a3: #00a4f61c;
  --blue-a4: #009fee2d;
  --blue-a5: #0096df3f;
  --blue-a6: #008ccf54;
  --blue-a7: #0081c16f;
  --blue-a8: #0081bc9c;
  --blue-a9: #0078a4eb;
  --blue-a10: #00769d;
  --blue-a11: #0079a1;
  --blue-a12: #002534e5;

  --blue-contrast: #fff;
  --blue-surface: #f0f9fdcc;
  --blue-indicator: #1483ab;
  --blue-track: #1483ab;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    body, .light, .light-theme {
      --blue-1: oklch(99.2% 0.0033 229.5);
      --blue-2: oklch(98% 0.0078 229.5);
      --blue-3: oklch(95.8% 0.0227 229.5);
      --blue-4: oklch(93.2% 0.0352 229.5);
      --blue-5: oklch(90% 0.046 229.5);
      --blue-6: oklch(85.9% 0.0565 229.5);
      --blue-7: oklch(80.5% 0.0699 229.5);
      --blue-8: oklch(72.7% 0.094 229.5);
      --blue-9: oklch(57.2% 0.1086 229.5);
      --blue-10: oklch(52.7% 0.1086 229.5);
      --blue-11: oklch(53.9% 0.1086 229.5);
      --blue-12: oklch(33.3% 0.0456 229.5);

      --blue-a1: color(display-p3 0.0235 0.5137 0.7569 / 0.016);
      --blue-a2: color(display-p3 0.0196 0.5569 0.8235 / 0.044);
      --blue-a3: color(display-p3 0.0118 0.5647 0.9216 / 0.099);
      --blue-a4: color(display-p3 0.0039 0.5529 0.8784 / 0.157);
      --blue-a5: color(display-p3 0.0039 0.5216 0.8235 / 0.22);
      --blue-a6: color(display-p3 0.0039 0.4824 0.7608 / 0.295);
      --blue-a7: color(display-p3 0.0039 0.4275 0.698 / 0.389);
      --blue-a8: color(display-p3 0 0.4235 0.6706 / 0.538);
      --blue-a9: color(display-p3 0 0.3529 0.5451 / 0.761);
      --blue-a10: color(display-p3 0 0.3216 0.502 / 0.804);
      --blue-a11: color(display-p3 0 0.3294 0.5176 / 0.797);
      --blue-a12: color(display-p3 0 0.1098 0.1725 / 0.867);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9451 0.9725 0.9843 / 0.8);
      --blue-indicator: oklch(57.2% 0.1086 229.5);
      --blue-track: oklch(57.2% 0.1086 229.5);
    }
  }
}